{#{% extends 'blog/base.html' %}#}
{#{% block content %}#}
{#    <div class="post">#}
{#        {% if post.published_date %}#}
{#            <div class="date">#}
{#                {{ post.published_date }}#}
{#            </div>#}
{#        {% else %}#}
{#            <a class="btn btn-default" href="{% url 'post_publish' pk=post.pk %}">Опубликовать</a>#}
{#        {% endif %}#}
{#        {% if user.is_authenticated %}#}
{#             <a class="btn btn-default" href="{% url 'post_edit' pk=post.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>#}
{#             <a class="btn btn-default" href="{% url 'post_remove' pk=post.pk %}"><span class="glyphicon glyphicon-remove"></span></a>#}
{#        {% endif %}#}
{#        <h1>{{ post.title }}</h1>#}
{#        <p>{{ post.text|linebreaksbr }}</p>#}
{#    </div>#}
{#{% endblock %}#}





<!DOCTYPE html lang="en-US">
{% load staticfiles %}
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
<head>

<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<title>Student Hunter</title>

<link rel='stylesheet' id='reset-css'   href="{% static 'css/reset.css' %}" type='text/css' media='all' />
<link rel='stylesheet' id='superfish-css'  href="{% static 'css/superfish.css' %}" type='text/css' media='all' />
<link rel='stylesheet' id='fontawsome-css'  href='css/font-awsome/css/font-awesome.css' type='text/css' media='all' />
<link rel='stylesheet' id='orbit-css-css'  href="{% static 'css/orbit.css' %}" type='text/css' media='all' />
<link rel='stylesheet' id='style-css'  href="{% static 'css/style.css' %}" type='text/css' media='all' />
<link rel='stylesheet' id='color-scheme-css'  href='css/color/green.css' type='text/css' media='all' />
<link rel="stylesheet" href="{% static 'css/zerogrid.css' %}" type="text/css" media="screen">
<link rel="stylesheet" href="{% static 'css/responsive.css' %}" type="text/css" media="screen">
<script type='text/javascript' src="{% static 'js/jquery.js' %}"></script>
<script type='text/javascript' src="{% static 'js/jquery-migrate.min.js' %}"></script>
<script type='text/javascript' src="{% static 'js/jquery-1.10.2.min.js' %}"></script>
<script type='text/javascript' src="{% static 'js/jquery.carouFredSel-6.2.1-packed.js' %}"></script>
<script type='text/javascript' src="{% static 'js/hoverIntent.js' %}"></script>
<script type='text/javascript' src="{% static 'js/superfish.js' %}"></script>
<script type='text/javascript' src="{% static 'js/orbit.min.js' %}"></script>
<script src="{% static "js/css3-mediaqueries.js" %}"></script>

<script type="text/javascript" language="javascript">
	$(function() {

		/* Start Carousel */
		$('#featured-posts').carouFredSel({
			auto: true,
					prev: '#prev2',
					next: '#next2',
		});
		/* End Carousel */


		/* Start Orbit Slider */
		$(window).load(function() {
			$('.post-gallery').orbit({
				animation: 'fade',
			});
		});
		/* End Orbit Slider */


		/* Start Super fish */
		jQuery(document).ready(function(){
			jQuery('ul.sf-menu').superfish({
				delay:         100,
				speed:         'fast',
				speedOut:      'fast',
			});
		});
		/* End Of Super fish */

	});
</script>
</head>

<body class="single single-post postid-49 single-format-standard">

	<!-- Start Header -->
    <div class="container zerogrid">
        <div class="col-full"><div class="wrap-col">
        	<div id="header-nav-container">

                    <a href="/">
                    <img src="{% static "images/logo.png" %}" id="logo" />
                    </a>

					<!-- Navigation Menu -->

	<ul class="sf-menu">
        <li class="menu-item"><a href="{% url 'emplist' %}">Компании</a></li>
        <li class="menu-item"><a href="{% url 'studlist' %}">Студенты</a></li>
	<li class="menu-item"><a href="blog.html">Контакты</a></li>
<li class="menu-item"><a href="#">Профиль</a>
</li>
                    <!-- End Navigation Menu -->

                    <div class="clear"></div>

            </div>
			</div>
        </div>
    <div class="clear"></div>
    </div>
    <div class="spacing-30"></div>
    <!-- End Header -->

    <!-- Start Main Container -->
    <div class="container zerogrid">

        <!-- Start Posts Container -->
        <div class="col-2-3" id="post-container">
        	<div class="wrap-col">



                    	<!-- Start Post Item -->
            <div class="post">
            	<div class="post-margin">

{#                <div class="post-avatar">#}
{#                    <div class="avatar-frame"></div>#}
{#                    <img alt='' src='http://1.gravatar.com/avatar/16afd22c8bf5c2398b206a76c9316a3c?s=70&amp;#}
{#                    d=http%3A%2F%2F1.gravatar.com%2Favatar%2Fad516503a11cd5ca435acc9bb6523536%3Fs%3D70&amp;r=G' #}
{#                         class='avatar avatar-70 photo' height='70' width='70' />                </div>#}

                <h4>{{ post.title }}</h4>
                	<ul class="post-status">
                    <li>
                        {% if post.published_date %}
                            <i class="fa fa-clock-o"></i>{{ post.published_date }}
                        {% endif %}
                    </li>

                    <li><i class="fa fa-folder-open-o"></i><a href="#" title="View all posts in Illustration" rel="category">IT и программирование"</a></li>
                    <li><i class="fa fa-comment-o"></i>Нет комментариев</li>
                    </ul>
                    <div class="clear"></div>
                </div>



            <div class="post-margin">
            <p>{{ post.text|linebreaksbr }}</p>
            </div>

            <ul class="post-social">
{#            <li>#}
{#            <a href="{% url 'add_exe_to_task' pk=post.pk %}" class="readmore">Взять задачу в работу <i class="fa fa-arrow-circle-o-right"></i></a>#}
{#            </li>#}
            <li>
                <a href="{% url 'post_edit' pk=post.pk %}" class="readmore">Редактировать <i class="fa fa-arrow-circle-o-right"></i></a>
{#            <a class="btn btn-default" href="{% url 'post_edit' pk=post.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>#}
            </li>
                <li>
                <a href="{% url 'post_remove' pk=post.pk %}" class="readmore">Удалить <i class="fa fa-arrow-circle-o-right"></i></a>
            </li>
            </ul>
            <!-- End Post Social -->
            <div class="clear"></div>
            </div>
            <!-- End Post Item -->


            <div class="comment-container">
                <h6 id="comment-header">Есть вопросы? Задавай ;)</h6>
                <div class="comment-list">
                <button class="add-comment"><a class="btn btn-default" href="{% url 'add_comment_to_post' pk=post.pk %}">
                    Оставить комментарий</a></button>
                {% for comment in post.comments.all %}
                    <div class="comment-block">
                         <strong style="font-weight: bold; font-size: large;">{{ comment.author }}</strong>
                        <a><div class="date" style="font-weight: normal; font-size: medium; color: grey">{{ comment.add_date }}</div></a>

                        <p>{{ comment.text|linebreaks }}</p>
                    </div>
                {% empty %}
                    <p>Комментарии отсутствуют :(</p>
                {% endfor %}
                </div>
            </div>






        <div class="clear"></div>
		</div>
        </div>
        <!-- End Posts Container -->

        <!-- Start Sidebar -->
		<div class="col-1-3"><div class="wrap-col">
			<div class="widget-container"><h6 class="widget-title">Категории</h6>		<ul>
	<li class="cat-item cat-item-5"><a href="#" title="View all posts filed under Apps">Архитектура / интерьер</a>
</li>
	<li class="cat-item cat-item-3"><a href="#" title="View all posts filed under Illustration">Видео</a>
</li>
	<li class="cat-item cat-item-4"><a href="#" title="View all posts filed under Logo">Маркетинг и реклама</a>
</li>
<li class="cat-item cat-item-4"><a href="#" title="View all posts filed under Logo">Музыка / звук</a>
</li>
<li class="cat-item cat-item-4"><a href="#" title="View all posts filed under Logo">Дизайн</a>
</li>
<li class="cat-item cat-item-4"><a href="#" title="View all posts filed under Logo">IT и Программирование</a>
</li>
<li class="cat-item cat-item-4"><a href="#" title="View all posts filed under Logo">Фотография</a>
</li>
<li class="cat-item cat-item-4"><a href="#" title="View all posts filed under Logo">Инженерия</a>
</li>
<li class="cat-item cat-item-4"><a href="#" title="View all posts filed under Logo">Менеджмент</a>
</li>
		</ul>
    <div class="clear"></div></div>

            <div class="widget-container"><h6 class="widget-title">Последние задачи</h6>	<!-- Start Widget -->
                <ul class="widget-recent-posts">

                {% block lastcontent %}
                    {% for post in posts %}
                        <li>
                            <h6><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h6>
                            <span>{{ post.published_date }}</span>
                            <div class="clear"></div>
                        </li>
                    {% endfor %}
                {% endblock %}
                </ul>
   <!-- End Widget -->
<div class="clear"></div></div>
    <div class="clear"></div>
</div></div>        <!-- End Sidebar -->

    <div class="clear"></div>
    </div>
	<!-- End Main Container -->


    <!-- Start Footer -->
    <div class="spacing-30"></div>
    <div class="container zerogrid">
        <div id="footer-container" class="col-full">
        <div class="wrap-col">
            <!-- Footer Copyright -->
            <p>Copyrigh &copy; Cергеев Сергей</p>
            <!-- End Footer Copyright -->

            <!-- Footer Logo -->

            <!-- End Footer Logo -->

        <div class="clear"></div>
		</div>
        </div>
    </div>
    <!-- End Footer -->


</body>

</html>
